<!-- Header -->
<header>
    <div [ngClass]="'panel panel-primary'">
        <div [ngClass]="'panel-heading col-lg-12 text-center'">
            <h1 [ngClass]="'white'">
                <p>CME R&D Center</p>
            </h1>
        </div>
    </div>
</header>

<!-- main app container -->
<div [ngClass]="'panel-body container'">
    <div [ngClass]="'col-sm-8 col-sm-offset-2 app-body-margin-top'">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- Footer -->
<footer>
    <div [ngClass]="'col-lg-12 text-center app-footer-margin-top'">
        <h4 [ngClass]="white">
            <p>Copyright &copy; <a href="https://chsakell.com" target="_blank">CME Research & Development Center</a>
            </p>
        </h4>
    </div>
</footer>
