<header>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4 class="white">
                <p>CME R&D Center</p>
            </h4>
        </div>
    </div>
</header>
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4 class="white">
                <p>Copyright &copy; <a href="https://chsakell.com" target="_blank">information</a></p>
            </h4>
        </div>
    </div>
</footer>