<header>
    <div class="text-center">
        <p>
            <a href="" target="_top">CME R&D Center</a>
        </p>
    </div>
</header>
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- Footer -->
<footer>
    <div class="text-center">
        <p>
            <a href="" target="_top">Copyright information</a>
        </p>
    </div>
</footer>